node_modules
dist
.env
.venv
.venv*
env/
venv/
ENV/
env.bak/
venv.bak/
.venv*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/
.idea/

.DS_Store

# Ruff
.ruff_cache

# Spell checker config
cspell.json

tmp*

# Claude Code
CLAUDE.md
