interactions:
- request:
    body: '{"prompt": "An astronaut riding a horse on the moon.", "model_name": "FLUX.1-dev"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperbolic.xyz/v1/images/generations
  response:
    body:
      string: '{"detail":[{"type":"missing","loc":["body","height"],"msg":"Field required","input":{"prompt":"An
        astronaut riding a horse on the moon.","model_name":"FLUX.1-dev"}},{"type":"missing","loc":["body","width"],"msg":"Field
        required","input":{"prompt":"An astronaut riding a horse on the moon.","model_name":"FLUX.1-dev"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 422
      message: Unprocessable Entity
version: 1
