name: Python tests

on:
  push:
    branches:
      - main
      - ci_*
    paths-ignore:
      - "widgets/**"
      - "api-inference-community/**"
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths-ignore:
      - "widgets/**"
      - "api-inference-community/**"
  workflow_dispatch:

env:
  HUGGINGFACE_CO_STAGING: yes

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.9"]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .[testing]

      - run: pytest -sv ./tests/

  build_pytorch:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install .[testing,torch]

    - run: pytest -sv ./tests/test_hubmixin*

  build_tensorflow:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install .[testing,tensorflow]

    - run: pytest -sv ./tests/test_keras*

  tests_lfs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - run: |
        git config --global user.email "ci@dummy.com"
        git config --global user.name "ci"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install .[testing]

    - run: RUN_GIT_LFS_TESTS=1 pytest -sv ./tests/ -k "HfLargefilesTest"
