name: Python quality

on:
  push:
    branches:
      - main
    paths-ignore:
      - "js/**"
      - "api-inference-community/**"
  pull_request:
    types: [assigned, opened, synchronize, reopened]
    paths-ignore:
      - "js/**"
      - "api-inference-community/**"

jobs:
  check_code_quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install .[dev]
      - run: black --check tests src
      - run: isort --check-only tests src
      - run: flake8 tests src

      # Run type checking at least on huggingface_hub root file to check all modules
      # that can be lazy-loaded actually exist.
      - run: mypy src/huggingface_hub/__init__.py
