# This workflow was originally implemented by the diffusers team and ported into huggingface_hub
# as a reusable workflow. Related PRs:
# - https://github.com/huggingface/diffusers/pull/10274
# - https://github.com/huggingface/diffusers/pull/10931
# - https://github.com/huggingface/diffusers/pull/10908


name: Style Bot Action

on:
    workflow_call:
      inputs:
        style_command_type:
          required: false
          type: string
          description: "Which style command to run (options: 'default' (make style && make quality), 'quality_only', 'style_only')"
          default: "default"
        python_quality_dependencies:
          required: true
          type: string
          description: "Python package extras to install for quality checks (e.g. '[quality]')"
        python_version:
          required: false
          type: string
          description: "Python version to run code formatter"
          default: "3.10"
      secrets:
        bot_token:
          required: true
          description: "GitHub token with permissions to comment and push to PR"
  
jobs:
  check-permissions:
    if: >
      (github.event_name == 'issue_comment' && 
       contains(github.event.comment.body, '@bot /style') &&
       github.event.issue.pull_request != null)
    runs-on: ubuntu-latest
    outputs:
      is_authorized: ${{ steps.check_user_permission.outputs.has_permission }}
    steps:
      - name: Check user permission
        id: check_user_permission
        uses: actions/github-script@v6
        with:
          script: |

            comment_user = context.payload.comment.user.login;
            const { data: permission } = await github.rest.repos.getCollaboratorPermissionLevel({
              owner: context.repo.owner,
              repo: context.repo.repo,
              username: comment_user
            });
            
            const authorized = ['admin', 'maintain', 'push', 'write'].includes(permission.permission);
            console.log(`User ${comment_user} has permission level: ${permission.permission}, authorized: ${authorized} (only users with at least write access are allowed to run this action)`);
            core.setOutput('has_permission', authorized);

  run-style-bot:
    needs: check-permissions
    if: needs.check-permissions.outputs.is_authorized == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Extract PR details
        id: pr_info
        uses: actions/github-script@v6
        with:
          script: |
            const prNumber = context.payload.issue.number;
            console.log(`PR number from env: "${prNumber}"`);
            
            const { data: pr } = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: prNumber
            });
            
            // Set outputs for use in subsequent steps
            core.setOutput('headRepoFullName', pr.head.repo.full_name);
            core.setOutput('headRef', pr.head.ref);
            core.setOutput('baseRef', pr.base.ref);
            core.setOutput('prNumber', prNumber);
            
            console.log('PR Details:', {
              number: prNumber,
              headRepo: pr.head.repo.full_name,
              headRef: pr.head.ref,
              baseRef: pr.base.ref
            });
        
      - name: Check out PR branch
        uses: actions/checkout@v3
        env:
          HEADREPOFULLNAME: ${{ steps.pr_info.outputs.headRepoFullName }}
          HEADREF: ${{ steps.pr_info.outputs.headRef }}
        with:
          # Instead of checking out the base repo, use the contributor's repo name
          repository: ${{ env.HEADREPOFULLNAME }}
          ref: ${{ env.HEADREF }}
          # You may need fetch-depth: 0 for being able to push
          fetch-depth: 0
          token: ${{ secrets.bot_token }}

      - name: Check commit timestamps
        env:
          COMMENT_DATE: ${{ github.event.comment.created_at }}
          PR_NUMBER: ${{ steps.pr_info.outputs.prNumber }}
          BASE_REPO_URL: https://github.com/${{ github.repository }}
          HEADREF: ${{ steps.pr_info.outputs.headRef }}
        run: |
            echo "--- Checking remotes ---"
            git remote -v
            echo "--- Checking ref on origin (${{ steps.pr_info.outputs.headRepoFullName }}) ---"
            git ls-remote origin refs/pull/$PR_NUMBER/merge || echo "Ref not found on origin (fork)."
            echo "--- Checking ref on base (${{ github.repository }}) ---"
            git ls-remote $BASE_REPO_URL refs/pull/$PR_NUMBER/merge || echo "Ref not found on base repository."
            
            echo "--- Proceeding with fetch from base repository ---"
            git fetch $BASE_REPO_URL refs/pull/$PR_NUMBER/merge:refs/remotes/pull/$PR_NUMBER/merge
            git checkout refs/remotes/pull/$PR_NUMBER/merge
            echo "PR_MERGE_SHA: $(git log -1 --format=%H)"
            PR_MERGE_COMMIT_TIMESTAMP=$(git log -1 --date=unix --format=%cd)
            echo "PR_MERGE_COMMIT_TIMESTAMP: $PR_MERGE_COMMIT_TIMESTAMP"
            COMMENT_TIMESTAMP=$(date -d "${COMMENT_DATE}" +"%s")
            echo "COMMENT_DATE: $COMMENT_DATE"
            echo "COMMENT_TIMESTAMP: $COMMENT_TIMESTAMP"
            if [ $COMMENT_TIMESTAMP -le $PR_MERGE_COMMIT_TIMESTAMP ]; then
              echo "âŒ Last commit on the pull request is newer than the issue comment triggering this run! Abort!";
              exit -1;
            fi

            echo "--- Checking out contributor branch ($HEADREF) ---"
            git checkout $HEADREF

      - name: Comment on PR with workflow run link
        id: init_comment
        uses: actions/github-script@v6
        with:
          script: |
            const prNumber = parseInt(process.env.prNumber, 10);
            const runUrl = `${process.env.GITHUB_SERVER_URL}/${process.env.GITHUB_REPOSITORY}/actions/runs/${process.env.GITHUB_RUN_ID}`

            const { data: botComment } = await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: prNumber,
              body: `Style fix is beginning .... [View the workflow run here](${runUrl}).`
            });
            core.setOutput('comment_id', botComment.id);
        env:
          prNumber: ${{ steps.pr_info.outputs.prNumber }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python_version }}

      - name: Install dependencies
        env:
          python_quality_dependencies: ${{ inputs.python_quality_dependencies }}
        run: |
          python -m pip install --upgrade pip
          pip install .$python_quality_dependencies
          echo ${{ steps.init_comment.outputs.comment_id }}

      - name: Run style command
        id: run_style
        env:
            STYLECOMMANDTYPE : ${{ inputs.style_command_type }}
        run: |
          case "$STYLECOMMANDTYPE" in
            "default")
              echo "Running default style and quality checks"
              make style && make quality
              ;;
            "quality_only")
              echo "Running quality checks only"
              make quality
              ;;
            "style_only")
              echo "Running style checks only"
              make style
              ;;
            *)
              echo "Invalid style_command_type: $STYLECOMMANDTYPE"
              echo "Valid options are: 'default', 'quality_only', 'style_only'"
              exit 1
              ;;
          esac

      - name: Commit and push changes
        id: commit_and_push
        env:
          HEADREPOFULLNAME: ${{ steps.pr_info.outputs.headRepoFullName }}
          HEADREF: ${{ steps.pr_info.outputs.headRef }}
          PRNUMBER: ${{ steps.pr_info.outputs.prNumber }}
          GITHUB_TOKEN: ${{ secrets.bot_token }}
        run: |
          echo "HEADREPOFULLNAME: $HEADREPOFULLNAME, HEADREF: $HEADREF"
          # Configure git with the Actions bot user
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # Make sure your 'origin' remote is set to the contributor's fork
          git remote set-url origin "https://x-access-token:${GITHUB_TOKEN}@github.com/$HEADREPOFULLNAME.git"

          # If there are changes after running style/quality, commit them
          if [ -n "$(git status --porcelain)" ]; then
            git add .
            git commit -m "Apply style fixes"
            # Push to the original contributor's forked branch
            git push origin HEAD:$HEADREF
            echo "changes_pushed=true" >> $GITHUB_OUTPUT
          else
            echo "No changes to commit."
            echo "changes_pushed=false" >> $GITHUB_OUTPUT
          fi

      - name: Prepare final comment message
        id: prepare_final_comment
        run: |
          if [ "${{ steps.commit_and_push.outputs.changes_pushed }}" = 'true' ]; then
            echo "final_comment=Style bot fixed some files and pushed the changes." >> $GITHUB_OUTPUT
          else
            echo "final_comment=Style fix runs successfully without any file modified." >> $GITHUB_OUTPUT
          fi

      - name: Comment on PR
        uses: actions/github-script@v6
        with:
          script: |
            const prNumber = parseInt(process.env.prNumber, 10);
            const runUrl = `${process.env.GITHUB_SERVER_URL}/${process.env.GITHUB_REPOSITORY}/actions/runs/${process.env.GITHUB_RUN_ID}`

            await github.rest.issues.updateComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              comment_id: ${{ steps.init_comment.outputs.comment_id }},
              body: `${{ steps.prepare_final_comment.outputs.final_comment }}`
            });
        env:
          prNumber: ${{ steps.pr_info.outputs.prNumber }}
